Package: com.lizynz.vkshortcuts.rootless
Name: vkShortcuts
Depends: mobilesubstrate, firmware (>= 15.0)
Conflicts: gsc.ipad
Version: 9.0
Architecture: iphoneos-arm64
Description: Quick action for VK
Depiction: https://lizynz.github.io/depictions/?p=com.lizynz.vkshortcuts
SileoDepiction: https://lizynz.github.io/depictions/com.lizynz.vkshortcuts/vkshortcuts.json
Maintainer: Lizynz <lizynz@ya.ru>
Author: Lizynz <lizynz@ya.ru>
Section: Tweaks
